body {
  font-family: Poppins, sans-serif;
  text-align: center;
}
@media screen and (min-width: 0px) and (max-width: 960px) {
  .topSection {
    margin: 0 auto 0 auto;
    padding: 0 0 0 0;
    text-align: center;
    font-family: "Poppins", sans-serif;
    width: 55%;
  }
  #first {
    margin: 50px 0 8px 4px;
    font-size: 22px;
    color: hsl(229, 6%, 66%);
    letter-spacing: 0.1px;
    font-weight: 200;
  }

  #second {
    margin: 0 0 15px 0;
    font-size: 21px;
    color: hsl(234, 12%, 34%);
    letter-spacing: 0.5px;
    font-weight: 600;
  }
  #topPara {
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    color: hsl(229, 6%, 66%);
    letter-spacing: 0.5px;
  }
  .container {
    margin: 0 auto 30px auto;
    width: 280px;
    font-family: "Poppins", sans-serif;
  }
  #supervisor {
    position: static;
    text-align: left;
    width: 200px;
    height: 150px;
    margin: 40px 0 20px 0;
    padding: 20px 30px;
    border-top: solid 3px hsl(180, 62%, 55%);
    border-radius: 6px;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2);
  }
  #teamBuilder {
    position: static;
    text-align: left;
    width: 200px;
    height: 150px;
    margin: 40px 10px 20px 0;
    padding: 20px 30px;
    border-top: solid 3px hsl(0, 78%, 62%);
    border-radius: 6px;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2);
  }
  #karma {
    position: static;
    text-align: left;
    width: 200px;
    height: 150px;
    margin: 40px 0 20px 0;
    padding: 20px 30px;
    border-top: solid 3px hsl(34, 97%, 64%);
    border-radius: 6px;
    box-shadow: 0 0.5px 10px 1px hsl(229, 6%, 66%);
  }

  #calculator {
    position: static;
    text-align: left;
    width: 200px;
    height: 150px;
    margin: 40px 0 20px 0;
    padding: 20px 30px;
    border-top: solid 3px hsl(212, 86%, 64%);
    border-radius: 6px;
    box-shadow: 0 0.5px 10px 1px hsl(229, 6%, 66%);
  }
  .cardHeading {
    font-weight: 600;
    font-size: 20px;
    color: hsl(234, 12%, 34%);
    margin-top: 5px;
  }
  .cardText {
    font-weight: 100;
    color: hsl(199, 4%, 77%);
    font-size: 13px;
    line-height: 1.5em;
    margin-top: -10px;
  }
  .cardImage {
    float: right;
    position: relative;
    margin-top: 1px;
    width: 50px;
  }
}
@media screen and (min-width: 961px) {
  .topSection {
    margin: 0 auto 0 auto;
    padding: 0 0 0 0;
    text-align: center;
    width:35%
    font-family: "Poppins", sans-serif;
  }
  #first {
    font-weight: 100;
    font-size: 36px;
    color: hsl(229, 6%, 66%);
    letter-spacing: 0.5px;
  }
  #second {
    font-size: 36px;
    font-weight: 600;
    color: hsl(234, 12%, 34%);
    letter-spacing: 0.5px;
    margin-top: -15px;
  }
  #topPara {
    font-weight: 100;
    display: inline-block;
    margin-top: 2px;
    width: 29%;
    font-size: 15px;
    color: hsl(199, 4%, 77%);
    line-height: 1.5em;
    letter-spacing: 0.1px;
  }
  .container {
    margin: 40px auto 30px auto;
    width: 1000px;
    font-family: 'Poppins', sans-serif;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
    justify-content: stretch;
    align-items: center;
    align-content: center;
    grid-column-gap: 20px;
}
  #supervisor {
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: left;
    margin: 40px 100px 10px 0;
    padding: 20px 25px;
    border-radius: 6px;
    border-top: solid 4px hsl(180, 62%, 55%);
    width: 260px;
    height: 200px;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2);
  }
  #teamBuilder {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 5;
    text-align: left;
    margin: 40px 0 10px 0;
    padding: 20px 30px;
    border-radius: 6px;
    border-top: solid 4px hsl(0, 78%, 62%);
    width: 260px;
    height: 200px;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2);
  }
  #karma {
    grid-row-start: 3;
    grid-row-end: 5;
    grid-column-start: 3;
    grid-column-end:5;
    text-align: left;
    padding: 20px 30px;
    border-radius: 6px;
    border-top: solid 4px hsl(34, 97%, 64%);
    width: 260px;
    height: 200px;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2);
  }
  #calculator {
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 5;
    grid-column-end:7;
    text-align: left;
    margin: 40px 0 10px 10px;
    padding: 20px 30px ;
    border-radius: 6px;
    border-top: solid 4px hsl(212, 86%, 64%);
    width: 260px;
    height: 200px;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2);
  
  }
  .cardHeading {
    font-weight: 600;
    font-size: 20px;
    color: hsl(234, 12%, 34%);
  }
  .cardText {
    font-weight: 100;
    color: hsl(199, 4%, 77%);
    font-size: 13px;
    line-height: 1.5em;
    margin-top: -5px;
  }
  .cardImage {
    float: right;
    position: relative;
    margin-top: 20px;
  }
}
/*
  
  
  
  
}
*/
